body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    clip-path: url(#clippy);
    width: 30em;
    height: 30em;
}

.content{
    width: 30vw;
}
h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1.5rem;
}